doctype 5
html
	head
		meta(charset='utf-8')
		title= pageTitle
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		.page
			header
				include ../public/meny.html
			section#main        
				h1 Mesaninen - JavaScript
				p Benytt menyen for &aring; navigere til oppgavene